%li.collection-item.avatar.grey-text.text-darken-2
  = image_tag(profile_image_url(user), class: "circle")

  %span.u-fz11.grey-text.valign-wrapper
    %i.material-icons.tiny.u-mr5 cake
    = user.format_birthday
    %i.material-icons.tiny.u-mr5.u-pl10 face
    = user.format_sex
  %span.title.truncate= user.nickname

  - if user != current_user
    = link_to new_user_report_path(user) do
      %i.favorite-btn.secondary-content.material-icons.small.red-text.text-accent-2.u-curp error

%li.collection-item.grey.lighten-5
  = render 'profiles/private_profile', user: user if controller_name == "my_page"

  .row
    .col.s12
      %p.light-blue-text 自己紹介
      %span.u-fz13.grey-text.text-darken-2= user.format_introduction

  = render 'profiles/menu_bar' if controller_name == "my_page"
