%ul.collection.with-header
  %li.collection-header.center-align
    %h5.grey-text.text-darken-4
      会員情報編集

  .collection-item
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .row
        .col.s12
          = f.label "ニックネーム"
          = f.text_field :nickname, autofocus: true, required: "", maxlength: User::NICKNAME_MAXIMUM_LENGTH, data: { length: User::NICKNAME_MAXIMUM_LENGTH }

      .row
        .col.s12
          = f.label "メールアドレス"
          = f.email_field :email, autofocus: true, required: ""

      .row
        .col.s12
          = f.label "新パスワード（#{@minimum_password_length}文字以上）"
          = f.password_field :password, autocomplete: "off", placeholder: "変更しない場合は空欄のまま"

      .row
        .col.s12
          = f.label "新パスワードを再入力"
          = f.password_field :password_confirmation, autocomplete: "off"

      .row
        .col.s12
          = f.label "現在のパスワード"
          = f.password_field :current_password, autocomplete: "off", required: ""

      .row
        .col.s6
          = f.label "生年月日（任意）"
          = f.text_field :birthday, class: "datepicker validate cursor-pointer", id: "js-birthday-picker"
        .col.s6
          = f.label "性別（任意）"
          = f.select :sex, User::SEX_OPTIONS, include_blank: true

      .row
        .col.s12
          = f.label "自己紹介文（任意）"
          = f.text_area :introduction, class: "materialize-textarea validate", maxlength: User::INTRODUCTION_MAXIMUM_LENGTH, data: { length: User::INTRODUCTION_MAXIMUM_LENGTH }

      .row
        .col.s12
          = f.button "更新する", class: " btn light-blue right waves-effect waves-light"
