.card-panel
  .container
    %h4.light-blue-text.center 会員登録

    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!

      .row
        .col.s12
          = f.label "メールアドレス"
          = f.email_field :email, autofocus: true, required: ""

      .row
        .col.s12
          = f.label "パスワード"
          = f.password_field :password, autocomplete: "off", required: ""
      .row
        .col.s12
          = f.label "もう一度パスワードを入力してください"
          = f.password_field :password_confirmation, autocomplete: "off", required: ""
      .row
        .col.s12
          = f.button "登録する", class: " btn light-blue right waves-effect waves-light"

    = render "devise/shared/links"
