.divider
.section
  .row.detail-container-menu
    / ログインユーザー
    - if user_signed_in?
      / 投稿オーナー用メニューバー
      - if article.user_id == current_user.id
        / 閉じるボタン
        .col.m3.offset-m9.center.u-curp.u-fz13.js-close-article-detail.grey-text.text-darken-2
          %i.material-icons.grey-text cancel
          %br
          閉じる

      - else # 投稿オーナーではない一般ユーザー用のメニュー
        / 詳細ボタン
        = link_to article, class: "col m3 center u-curp u-fz13 grey-text text-darken-2", style: "border-right: 1px solid #e0e0e0; text-decoration: none;" do
          %i.material-icons.blue-text library_books
          %br
          詳細

        / 参加ボタン
        - if current_user.already_participated?(article)
          - participating = Participant.where(article: article, user: current_user).first
          = link_to article_participant_path(article_id: article.id, id: participating.id), method: :delete, data: { confirm: "本当に辞退しますか？" }, class: " grey-text text-darken-2", style: "text-decoration: none;" do
            .col.m3.center.u-curp.u-fz13{style: "border-right: 1px solid #e0e0e0;"}
              %i.material-icons.grey-text group
              %br
              辞退
        - else
          = link_to article_participants_path(article), method: :post, class: " grey-text text-darken-2", style: "text-decoration: none;" do
            .col.m3.center.u-curp.u-fz13{style: "border-right: 1px solid #e0e0e0;"}
              %i.material-icons.red-text group_add
              %br
              参加

        / メッセージボタン
        .col.m3.center.u-curp.u-fz13.grey-text.text-darken-2{style: "border-right: 1px solid #e0e0e0;"}
          - if user_signed_in?
            %i.material-icons.green-text email
            %br
            メッセージ

        / 閉じるボタン
        .col.m3.center.u-curp.u-fz13.js-close-article-detail.grey-text.text-darken-2
          %i.material-icons.grey-text cancel
          %br
          閉じる

    - else # 未ログインユーザー
      / 詳細ボタン
      = link_to article, class: "col m3 center u-curp u-fz13 grey-text text-darken-2", style: "border-right: 1px solid #e0e0e0; text-decoration: none;" do
        %i.material-icons.blue-text library_books
        %br
        詳細

      .u-posr{style: "text-align:center;"}
        = link_to new_user_session_path, class: "u-posa btn waves-effect waves-teal white grey-text text-darken-2 hoverable", style: "z-index: 2; width: 300px; top: 5px; bottom: 0; left: 0; right: 0; margin: 0 auto; opacity: 0.7;" do
          %b ログインして利用する

        / 参加ボタン
        .col.m3.center.u-curp.u-fz13{style: "border-right: 1px solid #e0e0e0; filter: blur(3px);"}
          %i.material-icons.red-text group_add
          %br
          参加

        / メッセージボタン
        .col.m3.center.u-curp.u-fz13.grey-text.text-darken-2{style: "filter: blur(3px);"}
          %i.material-icons.green-text email
          %br
          メッセージ

      / 閉じるボタン
      .col.m3.center.u-curp.u-fz13.js-close-article-detail.grey-text.text-darken-2{style: "border-left: 1px solid #e0e0e0;"}
        %i.material-icons.grey-text cancel
        %br
        閉じる
