.section.js-article-menu.no-pad-bot
  .row.u-fz13
    / ログインユーザー
    - if user_signed_in?
      / 投稿オーナー用メニューバー
      - if current_user.owner?(article)
        - if controller.action_name == "show" # 投稿詳細ページでは「詳細」ボタンを表示しない
          - grid_sizes = %w[s4 m4 l4 xl4]
          = link_to edit_article_path(article), class: "col #{grid_sizes.join(" ")} center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
            %i.material-icons.blue-text edit
            %br
            編集
          / メッセージボタン
          = link_to article_messages_path(article), class: "col #{grid_sizes.join(" ")} center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
            %i.material-icons.orange-text chat
            %br
            掲示板

          = link_to article, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "col #{grid_sizes.join(" ")} center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
            %i.material-icons.grey-text delete
            %br
            削除

        - else  # 投稿詳細ページ以外では「詳細」ボタンを表示する
          - grid_sizes = %w[s3 m3 l3 xl3]
          = link_to article, class: "col #{grid_sizes.join(" ")} center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
            %i.material-icons.green-text library_books
            %br
            詳細
          = link_to edit_article_path(article), class: "col #{grid_sizes.join(" ")} center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
            %i.material-icons.blue-text edit
            %br
            編集
          / メッセージボタン
          = link_to article_messages_path(article), class: "col #{grid_sizes.join(" ")} center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
            %i.material-icons.orange-text chat
            %br
            掲示板
          = link_to article, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "col #{grid_sizes.join(" ")} center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
            %i.material-icons.grey-text delete
            %br
            削除

      - else # 投稿オーナーではない一般ユーザー用のメニュー
        - if controller.action_name == "show" # 投稿詳細ページでは「詳細」ボタンを表示しない
          - grid_sizes = %w[s6 m6 l6 xl6]
          / メッセージボタン
          = link_to article_messages_path(article), class: "col #{grid_sizes} center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
            %i.material-icons.orange-text chat
            %br
            掲示板
          / 参加ボタン
          #js-participate-container
            = render 'articles/participate_button', article: article, grid_sizes: grid_sizes

        - else # 投稿詳細ページ以外では「詳細」ボタンを表示する
          - grid_sizes = %w[s4 m4 l4 xl4]
          / 詳細ボタン
          = link_to article, class: "col #{grid_sizes.join(" ")} center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
            %i.material-icons.green-text library_books
            %br
            詳細

          / メッセージボタン
          = link_to article_messages_path(article), class: "col #{grid_sizes.join(" ")} center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
            %i.material-icons.orange-text chat
            %br
            掲示板

          / 参加ボタン
          #js-participate-container
            = render 'articles/participate_button', article: article, grid_sizes: grid_sizes

    - else # 未ログインユーザー
      - if controller.action_name == "show" # 投稿詳細ページでは「詳細」ボタンを表示しない
        - grid_sizes = %w[s6 m6 l6 xl6]
        / 掲示板ボタン
        = link_to article_messages_path(article), class: "col #{grid_sizes.join(" ")} center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
          %i.material-icons.orange-text chat
          %br
          掲示板

        / 参加ボタン
        = link_to new_user_session_path, class: "col #{grid_sizes.join(" ")} center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
          %i.material-icons.grey-text group_add
          %br
          ログインして参加

      - else  # 投稿詳細ページ以外では「詳細」ボタンを表示する
        - grid_sizes = %w[s4 m4 l4 xl4]
        / 詳細ボタン
        = link_to article, class: "col #{grid_sizes.join(" ")} center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
          %i.material-icons.green-text library_books
          %br
          詳細

        / メッセージボタン
        = link_to article_messages_path(article), class: "col #{grid_sizes.join(" ")} center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
          %i.material-icons.orange-text chat
          %br
          掲示板

        / 参加ボタン
        = link_to new_user_session_path, class: "col #{grid_sizes.join(" ")} center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
          %i.material-icons.grey-text group_add
          %br
          ログインして参加
