%li.collection-item.avatar.grey-text.text-darken-2
  = image_tag(%w[shimaenaga.jpg ugly_cat.jpg].sample, class: "circle")
  %span.title= article.title
  %span
    %i.material-icons.right grade
  %p= article.text
  %span.right.u-fz12.grey-text= "開催日 : #{article.format_event_date}"
