.section
  .collection-item
    = form_for @article do |f|
      .row
        .col.s12
          = f.label "投稿タイトル"
          = f.text_field :title, class: "validate", required: "", maxlength: Article::TITLE_MAXIMUM_LENGTH, data: { length: Article::TITLE_MAXIMUM_LENGTH }

      .row
        .col.s12
          = f.label "投稿本文"
          = f.text_area :text, class: "materialize-textarea validate", required: "", maxlength: Article::TEXT_MAXIMUM_LENGTH, data: { length: Article::TEXT_MAXIMUM_LENGTH }

      .row
        .col.s6
          = f.label "会場"
          = f.text_field :venue, class: "validate" , required: "", maxlength: Article::VENUE_MAXIMUM_LENGTH, data: { length: Article::VENUE_MAXIMUM_LENGTH }
        .col.s6
          = f.label "都道府県"
          = f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, include_blank: true, required: ""

      .row
        .col.s6
          = f.label "開催日"
          = f.text_field :event_date, class: "datepicker validate cursor-pointer", id: "js-event-data-picker", required: ""
        .col.s6
          = f.label "応募締切日"
          = f.text_field :application_period, class: "datepicker validate cursor-pointer", id: "js-application-period", required: ""

      .row
        .col.s6
          = f.label "定員"
          = f.telephone_field :capacity, placeholder: %(#{Article::CAPACITY_MINIMUM_VALUE} ~ #{Article::CAPACITY_MAXIMUM_VALUE.to_s(:delimited)}人), maxlength: Article::CAPACITY_MAXIMUM_VALUE, class: "validate", required: ""
        .col.s6
          = f.label "参加費"
          = f.telephone_field :participation_cost, placeholder: %(#{Article::PARTICIPATION_COST_MINIMUM_VALUE} ~ #{Article::PARTICIPATION_COST_MAXIMUM_VALUE.to_s(:delimited)}円), class: "validate", max: Article::PARTICIPATION_COST_MAXIMUM_VALUE, required: ""

      .row
        =f.button form_submit_button_text, class: " btn light-blue right waves-effect waves-light"
