.row
  = form_for @article, html: {class: "col s12", id: "formValidate"} do |f|
    .row
      .input-field.col.s12
        = f.label "投稿タイトル"
        = f.text_field :title, class: "validate"

    .row
      .input-field.col.s12
        = f.label "投稿本文"
        = f.text_area :text, class: "materialize-textarea validate"

    .row
      .input-field.col.s12
        = f.label "会場"
        = f.text_field :venue, class: "validate"

    .row
      .input-field.col.s6
        = f.label "開催日"
        = f.text_field :event_date, class: "datepicker validate"
      .input-field.col.s6
        = f.label "応募締切日"
        = f.text_field :application_period, class: "datepicker validate"

    .row
      .input-field.col.s6
        = f.label "定員"
        = f.telephone_field :capacity, class: "validate"
      .input-field.col.s6
        = f.label "予算"
        = f.text_field :budget, class: "validate"

    .row
      =f.button "投稿する", class: " btn light-blue right waves-effect waves-light"
