.row
  = form_for @article, html: {class: "col s12"} do |f|
    .row
      .col.s12
        = f.label "投稿タイトル"
        = f.text_field :title, class: "validate", required: ""

    .row
      .col.s12
        = f.label "投稿本文"
        = f.text_area :text, class: "materialize-textarea validate", required: ""

    .row
      .col.s6
        = f.label "会場"
        = f.text_field :venue, class: "validate" , required: ""
      .col.s6
        = f.label "都道府県"
        = f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, include_blank: true, required: ""

    .row
      .col.s6
        = f.label "開催日"
        = f.text_field :event_date, class: "datepicker validate cursor-pointer", required: ""
      .col.s6
        = f.label "応募締切日"
        = f.text_field :application_period, class: "datepicker validate cursor-pointer", required: ""

    .row
      .col.s6
        = f.label "定員"
        .u-df
          = f.text_field :capacity, class: "validate", required: ""
          .u-m-a20 人

      .col.s6
        = f.label "予算"
        .u-df
          = f.text_field :budget, class: "validate", required: ""
          .u-m-a20 円
    .row
      =f.button form_submit_button_text, class: " btn light-blue right waves-effect waves-light u-mr10", data: { disable_with: "送信中..."}
