.card-panel

  - if current_user.present? && current_user.id == @article.user_id
    .row.right
      .session{style: "margin-bottom: 15px;"}
        = link_to edit_article_path(@article), class: "btn-floating btn-large scale-transition waves-effect waves-light light-blue" do
          %i.material-icons edit

      .session
        = link_to article_path(@article), method: :delete, data: { confirm: "本当に削除してもよろしいですか？" }, class: "btn-floating btn-large waves-effect waves-light red" do
          %i.material-icons delete

  .container
    %h4.light-blue-text= @article.format_title

    .divider

    .section.no-pad-bot
      .row
        .col.s12
          %strong.light-blue-text 投稿本文
          %p= simple_format(@article.format_text)

    .divider

    .section.no-pad-bot
      .row
        .col.s6
          %strong.light-blue-text 会場
          %p= @article.format_venue
        .col.s6
          %strong.light-blue-text 都道府県
          %p= @article.format_prefecture_name

    .divider

    .section.no-pad-bot
      .row
        .col.s6
          %strong.light-blue-text 開催日
          %p= @article.format_event_date
        .col.s6
          %strong.light-blue-text 応募締切日
          %p= @article.format_application_period

    .divider

    .section.no-pad-bot
      .row
        .col.s6
          %strong.light-blue-text 定員
          %p= @article.format_capacity
        .col.s6
          %strong.light-blue-text 予算
          %p= @article.format_budget
