%ul.collection
  %li.collection-item.avatar.grey-text.text-darken-2
    / 本来は投稿に紐づく画像か、投稿主のプロフィール画像を表示するべきだが、まだそこまで実装できていないので、暫定対応として適当に画像を表示している。
    = image_tag(profile_image_url(@article.user), class: "circle")

    %span.u-fz11.grey-text.valign-wrapper
      %i.material-icons.tiny.u-mr5 date_range
      = @article.format_event_date
      %i.material-icons.tiny.u-mr5.u-pl10 place
      = @article.format_prefecture_name
    %span.title.truncate= @article.format_title

    - if user_signed_in?
      - if current_user.owner?(@article)
        %span.u-fz11.grey-text.text-lighten-1.secondary-content 自分の投稿
      - else
        = render 'articles/favorite_button', article: @article

    / 参加人数を表示
    .right
      = @article.participant_count_disp
      %span.u-fz11.grey-text.text-lighten-1
        = " / "
        %span.js-capacity-num-disp= @article.capacity
        人参加予定

  .collection-item.grey.lighten-5
    .row
      .col.s12
        %p.light-blue-text 投稿本文
        %span.u-fz13.grey-text.text-darken-2= simple_format(@article.format_text)

    .divider

    .row
      .col.s6
        %p.light-blue-text 会場
        %span.u-fz13.grey-text.text-darken-2= @article.format_venue
      .col.s6
        %p.light-blue-text 都道府県
        %span.u-fz13.grey-text.text-darken-2= @article.format_prefecture_name

    .divider

    .row
      .col.s6
        %p.light-blue-text 開催日
        %span.u-fz13.grey-text.text-darken-2= @article.format_event_date
      .col.s6
        %p.light-blue-text 応募締切日
        %span.u-fz13.grey-text.text-darken-2= @article.format_application_period

    .divider

    .row
      .col.s6
        %p.light-blue-text 定員
        %span.u-fz13.grey-text.text-darken-2= @article.format_capacity
      .col.s6
        %p.light-blue-text 参加費
        %span.u-fz13.grey-text.text-darken-2= @article.format_participation_cost

    .divider

    / 投稿リストプルダウン時に表示されるメニューバー
    = render "articles/article_menu.html.haml", article: @article
