.section
  = render 'header_tab'

  %ul.collection.with-header
    %li.collection-item
      .row
        .col.s12
          %p.light-blue-text ニックネーム
          %span.u-fz13.grey-text.text-darken-2= current_user.nickname

      .divider

      .row
        .col.s12
          %p.light-blue-text メールアドレス
          %span.u-fz13.grey-text.text-darken-2= current_user.email


      .divider

      .row
        .col.s6
          %p.light-blue-text 性別
          %span.u-fz13.grey-text.text-darken-2= current_user.sex ? current_user.sex : "（設定されていません）"
        .col.s6
          %p.light-blue-text 生年月日
          %span.u-fz13.grey-text.text-darken-2= current_user.birthday ? current_user.birthday : "（設定されていません）"

      .divider

      .row
        .col.s12
          %p.light-blue-text 自己紹介
          %span.u-fz13.grey-text.text-darken-2= current_user.introduction ? current_user.introduction : "（設定されていません）"

      .divider

      .section.no-pad-bot
        .row.u-fz13
          = link_to edit_user_registration_path, class: "col m4 center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
            %i.material-icons.green-text edit
            %br
            編集
          = link_to destroy_user_session_path, method: :delete, class: "col m4 center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
            %i.material-icons.red-text lock_open
            %br
            ログアウト
          = link_to user_registration_path, method: :delete, data: { confirm: "本当に退会しますか？\n\n※ 退会するとユーザーデータが破棄されます。" }, class: "col m4 center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
            %i.material-icons.grey-text delete_forever
            %br
            退会
