.section
  = render 'header_tab'

  %ul.collection.with-header{style: "margin-top: 0; padding-top: 0;"}
    %li.collection-item.avatar.js-article-header.grey-text.text-darken-2.u-curp
      / 本来は投稿に紐づく画像か、投稿主のプロフィール画像を表示するべきだが、まだそこまで実装できていないので、暫定対応として適当に画像を表示している。
      = image_tag(%w[shimaenaga.jpg ugly_cat.jpg owl_and_mushroom.jpg ao.jpg sora.jpg sato_chiaki.jpg galaxy.jpg live_man.jpg].sample, class: "circle")

      %span.u-fz11.grey-text.valign-wrapper
        %i.material-icons.tiny.u-mr5 cake
        未設定
        %i.material-icons.tiny.u-mr5.u-pl10 location_city
        未設定
      %span.title.truncate= current_user.nickname

    %li.collection-item.grey.lighten-5
      .row
        .col.s12
          %p.light-blue-text メールアドレス
          %span.u-fz13.grey-text.text-darken-2= current_user.email


      .divider

      .row
        .col.s6
          %p.light-blue-text 性別
          %span.u-fz13.grey-text.text-darken-2= current_user.sex ? current_user.sex : "（設定されていません）"
        .col.s6
          %p.light-blue-text 生年月日
          %span.u-fz13.grey-text.text-darken-2= current_user.birthday ? current_user.birthday : "（設定されていません）"

      .divider

      .row
        .col.s12
          %p.light-blue-text 自己紹介
          %span.u-fz13.grey-text.text-darken-2= current_user.introduction ? current_user.introduction : "（設定されていません）"

      .divider

      .section.no-pad-bot
        .row.u-fz13
          = link_to edit_user_registration_path, class: "col m4 center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
            %i.material-icons.green-text edit
            %br
            編集
          = link_to destroy_user_session_path, method: :delete, class: "col m4 center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
            %i.material-icons.red-text lock_open
            %br
            ログアウト
          = link_to user_registration_path, method: :delete, data: { confirm: "本当に退会しますか？\n\n※ 退会するとユーザーデータが破棄されます。" }, class: "col m4 center u-curp grey-text text-darken-2", style: "text-decoration: none;" do
            %i.material-icons.grey-text delete_forever
            %br
            退会
