= %(#{@user.nickname}様\n)

= %(オフ会「#{@article.title}」への参加申請が完了しました！)
※ 定員越えのオフ会につきましては、自動抽選により参加者が決定されます。

="\n-------------------------------------------------------------------------------------------------------\n"

辞退するには、以下のリンクより該当のオフ会のページにアクセスし、「辞退」をクリックすることで辞退できます。
= link_to article_url(@article), article_url(@article)
