.navbar-fixed
  %nav.white{:role => "navigation"}
    .nav-wrapper{style: "width: 80%; margin: 0 auto;"}
      = link_to root_path, id: "logo-container", class: "brand-logo" do
        = image_tag("logo_transparent_background.png", alt: "OffKara", height: 60)
      %ul.right.hide-on-med-and-down
        %li= link_to "記事一覧", articles_path

        - if current_user # ログイン中であれば
          %li= link_to "記事投稿", new_article_path
          %li= link_to "マイページ", my_page_profile_path
        - else # ログインしていなければ
          %li= link_to "会員登録", new_user_registration_path
          %li= link_to "ログイン", new_user_session_path

      %ul#nav-mobile.side-nav
        %li= link_to "記事一覧", articles_path

        - if current_user # ログイン中であれば
          %li= link_to "投稿", new_article_path
          %li= link_to "マイページ", edit_user_registration_path
          %li= link_to "ログアウト", destroy_user_session_path, method: :delete
        - else # ログインしていなければ
          %li= link_to "会員登録", new_user_registration_path
          %li= link_to "ログイン", new_user_session_path

      %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
        %i.material-icons menu
