!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OFF KARA
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"
    = favicon_link_tag("logo_size_icon.jpg")
    = analytics_init if Rails.env.production?
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}


  %body
    -# ヘッダー
    = render "layouts/header"
    -# フラッシュメッセージ
    = render "layouts/flash"

    %main
      .container
        .row
          .col.s12.m12.l9
            = yield

          .col.l3.hide-on-med-and-down.grey.lighten-3{style: "margin-top: 10px; min-height: 500px;"}
            = render 'layouts/sidebar_right'

    -# フッター
    = render 'layouts/footer'
